name: Robot CI

on:
  push:
    branches: [ "main" ]
    
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi        
    - name: Robot Framework
      uses: joonvena/robotframework-docker-action@v1.1
      with:
        robot_tests_dir: './tests/AutomacaoBackofficeWeb/tests/Login.robot'
        robot_reports_dir: './reports'
    
          
